---
import Fixable from "@/components/Fixable.astro";
import Timeout from "@/components/Timeout.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Volunteer">
  <form action="thank-you/">
    <label
      >First name
      <input name="firstname" />
    </label>
    <label
      >Middle name
      <input name="middlename" />
    </label>
    <label
      >Last name
      <input name="lastname" />
    </label>
    <label
      >Email address
      <Fixable as="input" fixed={{ type: "email" }} name="email" />
    </label>
    <label
      >Phone number
      <Fixable as="input" fixed={{ type: "tel" }} name="phone" />
    </label>
    <Timeout>
      The form has expired; please refresh the page to start over.
    </Timeout>
    <button type="submit">Submit</button>
  </form>
</Layout>

<style>
  form > * {
    display: block;
    margin: 1rem 0;
  }
  input {
    display: block;
  }
</style>
