---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import { sortBy } from "lodash-es";

const categories = sortBy(
  await getCollection("exhibit-categories"),
  ({ data }) => data.title
);
---

<Layout title="Collections">
  <h2>Our Collections</h2>
  <ul class="list-group list-group-flush">
    {
      categories.map(({ data, slug }) => (
        <li class="list-group-item">
          <a href={`${slug}/`} set:text={data.title} />
        </li>
      ))
    }
  </ul>
</Layout>
