---
import CartInventory from "@/components/cart/CartInventory.astro";
import ShopLayout from "@/layouts/ShopLayout.astro";
import { museumBaseUrl } from "@/lib/constants";
---

<ShopLayout title="Order Confirmation">
  <h1>Thank you for your order!</h1>
  <h2 id="order">Order #</h2>
  <CartInventory />
  <p>
    <a href={museumBaseUrl}>Return to Homepage</a>
  </p>
</ShopLayout>

<script>
import { persist } from "@/lib/client/store";

  document.getElementById("order")!.textContent = `Order #${Date.now()}`;
  // Clear cart on a delay, to give inventory a chance to render first
  setTimeout(() => {
    persist("cart", {});
  });
</script>
