---
import CartInventory from "@/components/cart/CartInventory.astro";
import CartStatus from "@/components/cart/CartStatus.astro";
import ShopLayout from "@/layouts/ShopLayout.astro";
---

<ShopLayout title="Checkout">
  <h1>Checkout</h1>
  <CartInventory includeRemove />
  <CartStatus />
  <a id="continue" class="button" href="shipping/" hidden>Continue</a>
</ShopLayout>

<script>
  import { onStoreChange } from "@/lib/client/store";

  onStoreChange("cart", (cart) => {
    document.getElementById("continue")!.hidden =
      Object.keys(cart).length === 0;
  });
</script>
