---
import CartInventory from "@/components/cart/CartInventory.astro";
import CartStatus from "@/components/cart/CartStatus.astro";
import ShopLayout from "@/layouts/ShopLayout.astro";

/** @breaklocation Gift Shop */
/** @breakprocess gift-shop */
---

<ShopLayout title="Checkout">
  <h1>Checkout</h1>
  {
    /**
     * @break
     * wcag2: 3.3.5
     * wcag3: Contextual help available
     * description: No contextual help is available during the checkout process.
     */
    /**
     * @break
     * wcag3: Information requirements available at start
     * description: |
     *   Nothing is disclosed up-front about the information that will be required to complete checkout.
     */
    /**
     * @break
     * wcag3:
     *   - All steps listed
     *   - Current step indicated
     * description: No context is given with regard to progress through the checkout process.
     */
    /**
     * @break
     * wcag3: Going back supported
     * description: |
     *   No mechanism exists within checkout pages to step back through the process,
     *   or to indicate position within the process.
     */
  }
  <CartInventory includeRemove />
  <CartStatus />
  <a id="continue" class="button" href="shipping/" hidden>Continue</a>
</ShopLayout>

<script>
  import { onStoreChange } from "@/lib/client/store";

  onStoreChange("cart", (cart) => {
    document.getElementById("continue")!.hidden =
      Object.keys(cart).length === 0;
  });
</script>
