---
import Fixable from "@/components/Fixable.astro";
import FixableRegion from "@/components/FixableRegion.astro";
import FormLayout from "@/components/FormLayout.astro";
import ShopLayout from "@/layouts/ShopLayout.astro";

/** @breaklocation Gift Shop */
/** @breakprocess gift-shop */
---

<ShopLayout title="Checkout">
  <h1>Checkout</h1>
  <FixableRegion><h2 slot="fixed">Payment Information</h2></FixableRegion>
  <p>
    The payment method you enter below will be charged <strong id="total"
    ></strong>.
  </p>
  {
    /**
     * @break
     * wcag2:
     *   - 3.3.4
     *   - 3.3.6
     * description:
     *   There is no confirmation step after entering payment information.
     */
  }
  <Fixable
    as={FormLayout}
    broken={{ action: "../confirmation/" }}
    fixed={{ action: "../review/" }}
  >
    {
      /**
       * @break
       * wcag2: 3.3.1
       * wcag3: Errors associated
       * description: |
       *   Errors in the payment form are not programmatically associated with the field that caused the failure.
       */
      /**
       * @break
       * wcag2: 3.3.1
       * wcag3: Error notifications available
       * description: |
       *   Errors in the payment form do not specifically describe what requirement was not met.
       */
      /**
       * @break
       * wcag2: 3.3.3
       * wcag3: Error suggestions provided
       * description: The payment form does not suggest corrections for formatting errors.
       */
      /**
       * @break
       * wcag3: Error notifications available
       * description: The only indication of errors in payment form fields is a border color change.
       */
      /**
       * @break
       * wcag3: Error messages persistent
       * description: |
       *   There is no way to dismiss errors until the entire form is resubmitted.
       * discussionItems:
       *   - Does this not actually fail? The requirement now says "at least until the error is resolved or the user dismisses them",
       *     which could be interpreted to mean that it's okay for them to stay around forever.
       */
      /**
       * @break
       * wcag3: Error messages collocated
       * description: |
       *   The payment form only displays one generic error message at the top.
       */
    }
    <p id="error" class="error" hidden></p>
    {
      /**
       * @break
       * wcag2: 3.3.2
       * wcag3: Interactive element names available
       * description: |
       *   Fields in the payment form have no labels.
       */
      /**
       * @break
       * wcag2: 3.3.2
       * description: |
       *   The payment form does not provide any indication of accepted input formats.
       * discussionItems:
       *   - Is there an equivalent under WCAG 3 that this would fail?
       */
      /**
       * @break
       * wcag3: Required action available
       * description: |
       *   The payment form does not visibly indicate required fields until the user attempts to submit.
       */
    }
    <input name="name" placeholder="Name on Card" />
    <input name="card" placeholder="Card Number" />
    <input name="expiration" placeholder="Expiration" />
    <input name="code" placeholder="CVC" />
    <input name="zip" placeholder="ZIP Code" />
    <button>Continue</button>
  </Fixable>
</ShopLayout>

<script>
  import { z } from "astro/zod";
  import { computeTotals } from "@/lib/client/cart";
  import { disableInputs, validateInputs } from "@/lib/client/form";
  import { recall } from "@/lib/client/store";
  import { showToast } from "@/lib/client/toast";
  import { getMode } from "@/lib/mode";

  const cart = recall("cart");
  document.getElementById("total")!.textContent =
    `$${computeTotals(cart).totalCost.toFixed(2)}`;

  const form = document.querySelector("main form") as HTMLFormElement;

  /**
   * @break
   * wcag3: Automated entry allowed
   * description: The input fields on the payment step disallow paste.
   */
  if (getMode() === "broken") {
    form
      .querySelectorAll("input")
      .forEach((input) =>
        input.addEventListener("paste", (event) => event.preventDefault())
      );
  }

  form.addEventListener("submit", (event) => {
    const result = validateInputs(
      event.target as HTMLFormElement,
      z.object({
        name: z.string().min(1),
        card: z.string().regex(/^\d{16}$/),
        expiration: z.string().regex(/^(0[1-9]|1[0-2])\/(2[4-9]|3\d)$/),
        code: z.string().regex(/^\d{3}$/),
        zip: z.string().regex(/^\d{5}$/),
      })
    );

    if (!result.success) {
      event.preventDefault();
      const errorEl = document.getElementById("error") as HTMLParagraphElement;
      errorEl.textContent = "Invalid payment information; please try again.";
      errorEl.hidden = false;
    }
  });

  /**
   * @break
   * wcag2: 4.1.3
   * wcag3:
   *   - Change of content notified
   *   - Change of focus notified
   * description: |
   *   When the payment form becomes disabled, the toast that appears
   *   does not grab focus and is not announced.
   */
  /**
   * @break
   * wcag2: 2.2.6
   * wcag3:
   *   - No time limits
   *   - Time limits conveyed
   * description: |
   *   There is a timeout on each checkout step that may be
   *   too short to enter required information.
   */
  /**
   * @break
   * wcag3: Consistent interactions
   * description: |
   *   The toasts displayed upon form timeouts on the shipping and payment steps are
   *   inconsistent with each other (one has <code>role="alert"</code>, the other does not).
   */
  setTimeout(() => {
    showToast(`The form has expired; you will need to start over.`, {
      type: "error",
      actionHref: "../",
      actionLabel: "Return to checkout",
      withDismiss: false,
    });
    disableInputs(document.querySelector("main form") as HTMLFormElement);
  }, 60000);
</script>

<style>
  input::placeholder {
    color: var(--gray-300);
  }
</style>
