---
import Timeout from "@/components/Timeout.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Checkout">
  <h1>Checkout</h1>
  <h2>Shipping Information</h2>
  <form action="../payment/">
    <p id="error" class="error" hidden></p>
    <input name="street1" placeholder="Street Address" />
    <input name="street2" placeholder="Apt. #" />
    <input name="city" placeholder="City" />
    <input name="state" placeholder="State" />
    <input name="zip" placeholder="ZIP Code" />
    <button>Continue</button>
    <Timeout>
      The form has expired; please <a href="../">return to checkout</a> to start
      over.
    </Timeout>
  </form>
</Layout>

<script>
  import { validateInputs } from "@/lib/client/form";

  document.querySelector("main form")?.addEventListener("submit", (event) => {
    const hasInvalidFields = validateInputs(event.target as HTMLFormElement, {
      street1: /^.+$/,
      city: /^.+$/,
      state: /^[A-Z]{2}$/,
      zip: /^\d{5}$/,
    });

    if (hasInvalidFields) {
      event.preventDefault();
      const errorEl = document.getElementById("error") as HTMLParagraphElement;
      errorEl.textContent = "Invalid shipping information; please try again.";
      errorEl.hidden = false;
    }
  });
</script>

<style>
  form > * {
    display: block;
    margin: 1rem 0;
  }

  input::placeholder {
    color: var(--gray-300);
  }
</style>
