---
import { getEntry } from "astro:content";
import CollectionCard from "@/components/CollectionCard.astro";
import Layout from "@/layouts/Layout.astro";

const collections = [
  {
    title: "Toys & Dolls",
    description: "They can dance in the dark.",
    imageItem: await getEntry("collection", "blue-bear"),
    href: "/collections/toys",
  },
  {
    title: "Dishes",
    description: "Did someone say dinner?",
    imageItem: await getEntry("collection", "blue-dish"),
    href: "/collections/dishes",
  },
  {
    title: "Containers",
    description: "These won't hold water",
    imageItem: await getEntry("collection", "clay-jug"),
    href: "/collections/containers",
  },
];
---

<Layout title="Home">
  <div class="card text-bg-secondary mb-3 w-100">
    <h2 class="card-header bg-black text-light">Explore our Collections</h2>
    <div class="card-body bg-gradient">
      <div class="card-group gap-5 m-4">
        {
          collections.map(({ description, href, imageItem, title }) => (
            <CollectionCard
              title={title}
              description={description}
              image={imageItem.data.image}
              width="300"
              style="max-height: 60rem; max-width: 60rem;"
            >
              <a slot="footer" class="btn btn-primary w-100" {href}>
                Explore
              </a>
            </CollectionCard>
          ))
        }
      </div>
    </div>
    <div class="card-footer bg-dark text-end">
      <a href="/collections">Our collections &rArr;</a>
    </div>
  </div>
</Layout>
