---
import Layout from '../layouts/Layout.astro';
import ThemedSection from '../components/ThemedSection.astro';
---

<Layout title="Home">
  <ThemedSection theme="light" gradient={true}>
    <div class="card text-bg-secondary mb-3 w-100">
      <h2 class="card-header bg-black text-light">Explore our Collections</h2>
      <div class="card-body bg-gradient">
        <div class="card-group gap-5 m-4">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title text-center">Card title</h3>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
              <a class="btn btn-primary w-100" href="/collections">Explore</a>
            </div>
          </div>
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title text-center">Card title</h3>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer">
              <a class="btn btn-primary w-100" href="/collections">Explore</a>
            </div>
          </div>
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title text-center">Card title</h3>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
              <a class="btn btn-primary w-100" href="/collections">Explore</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ThemedSection>
</Layout>
