---
import MetaFailureSection from "@/components/meta/MetaFailureSection.astro";
import MetaLayout from "@/layouts/MetaLayout.astro";
---

<MetaLayout title="General Information">
  <h1>General Information</h1>
  <section id="about-this-site">
    <h2>About The Museum of Broken Things</h2>
    <p>
      This site is designed to demonstrate a wide range of accessibility
      failures, for teaching and assessment purposes.
    </p>
    <p>
      <strong>Reminder:</strong> This site is an example and does not perform
      real sign-in or payment processing. Do not enter real information!
    </p>
  </section>

  <section id="summary-of-failures">
    <h2>Summary of failures</h2>
    <p>
      This section provides a breakdown of failures, organized on a per-page
      basis.
    </p>

    {
      import.meta.env.DEV && (
        <p id="dev-error" class="error" hidden>
          The section specified in the hash does not exist. Check for typos in
          href, or make sure to add it to this page.
        </p>
      )
    }

    <MetaFailureSection href="museum/" title="Common Component: Search Box">
      <dl slot="wcag2">
        <dt>3.2.2: On Input</dt>
        <dd>
          The search box automatically performs client-side navigation to
          the search page on a delay after input stops.
          There is no dedicated submit button and no warning about the behavior.
          (This may not be a failure for the search page itself.)
          The page title also does not update to reflect the page change.
        </dd>
        <dt>4.1.2: Name, Role, Value</dt>
        <dd>
          There is no search landmark indicating the presence or purpose of the search box.
        </dd>
      </dl>
    </MetaFailureSection>

    <MetaFailureSection href="museum/" title="Home">
      <dl slot="wcag2">
        <dt>1.4.3: Contrast (Minimum)</dt>
        <dd>
          Text overlaying images in the carousel does not include a background
          to guarantee contrast.
        </dd>
        <dt>2.2.2: Pause, Stop, Hide</dt>
        <dd>
          The carousel does not include controls to stop moving and updating.
        </dd>
      </dl>
    </MetaFailureSection>

    <MetaFailureSection href="museum/collections/dishes/" title="Dishes Collection">
      <dl slot="wcag2">
        <dt>1.1.1: Non-text Content</dt>
        <dd>
          None of the exhibit images have alt text.
        </dd>
      </dl>
    </MetaFailureSection>

    <MetaFailureSection href="museum/collections/technology/" title="Technology Collection">
      <dl slot="wcag2">
        <dt>1.1.1: Non-text Content</dt>
        <dd>
          Some of the exhibit images lack alt text.
        </dd>
      </dl>
    </MetaFailureSection>

    <MetaFailureSection href="museum/blog/" title="Blog">
      <dl slot="wcag2">
        <dt>1.4.3 and 1.4.6: Contrast</dt>
        <dd>
          The "Blog" heading is superimposed over an image with no overlay to guarantee minimum contrast.
        </dd>
        <dt>2.3.3: Animation from Interactions</dt>
        <dd>
          Images zoom in on hover and do not respect prefers-reduced-motion.
        </dd>
        <dt>2.4.4 and 2.4.9: Link Purpose</dt>
        <dd>
          Each post image, as well as the arrow on the topmost post, links to its post, but has no content to describe the link.
        </dd>
        <dt>2.5.5: Target Size (Enhanced)</dt>
        <dd>
          The link after the excerpt from the topmost post is smaller than 44 by 44 pixels.
        </dd>
        <dt>3.1.1: Error Identification</dt>
        <dd>
          The first post under "In the News" leads to a 404 page with no clear description of what went wrong.
        </dd>
      </dl>
    </MetaFailureSection>

    <MetaFailureSection href="museum/gift-shop/" title="Gift Shop">
      <dl slot="wcag2">
        <dt>1.4.3 and 1.4.6: Contrast</dt>
        <dd>Text is superimposed over images with no overlay to guarantee minimum contrast.</dd>
      </dl>
    </MetaFailureSection>

    <MetaFailureSection href="museum/gift-shop/vessels/water-bottle/" title="Gift Shop Product Page">
      <dl slot="wcag2">
        <dt>3.3.6: Error Prevention (All)</dt>
        <dd>
          The quantity field uses <code>type="tel"</code>, which allows non-numeric input,
          rather than the more appropriate <code>type="number"</code>.
        </dd>
      </dl>
    </MetaFailureSection>

    <MetaFailureSection href="museum/gift-shop/checkout/" title="Gift Shop Checkout">
      <p>Note: One or more items must be in the cart to continue the checkout process.</p>
      <dl slot="wcag2">
        <dt>2.2.3: No Timing</dt>
        <dd>
          Forms in the checkout process time out after an undisclosed period of time.
        </dd>
        <dt>3.3.1: Error Identification</dt>
        <dd>
          Errors do not specifically describe what expectation was failed for each field.
        </dd>
        <dt>3.3.2: Labels or Instructions</dt>
        <dd>
          Fields have no labels, and no indication is given on accepted input formats.
        </dd>
        <dt>3.3.3: Error Suggestion</dt>
        <dd>
          Errors do not provide suggested corrections.
        </dd>
        <dt>3.3.4 and 3.3.6: Error Prevention</dt>
        <dd>
          There is no confirmation step after entering payment information,
          failing 3.3.4 for financial information in addition to 3.3.6.
        </dd>
        <dt>3.3.5: Help</dt>
        <dd>
          No context-sensitive help is available.
        </dd>
      </dl>
      <dl slot="wcag3">
        <dt>Allow automated entry</dt>
        <dd>
          The input fields on the payment step disallow paste.
        </dd>
        <dt>Error association</dt>
        <dd>
          There is no error message programmatically associated with each input.
        </dd>
        <dt>Error identification</dt>
        <dd>
          The only indication of error is a border color change.
        </dd>
        <dt>Error notification</dt>
        <dd>
          Errors do not specifically describe what expectation was failed for each field.
        </dd>
        <dt>Input instructions</dt>
        <dd>
          No indication of input formats is provided.
        </dd>
        <dt>Input labels</dt>
        <dd>
          No input labels are present.
        </dd>
        <dt>Persistent error notification</dt>
        <dd>
          There is no way to dismiss errors until the entire form is resubmitted.
        </dd>
        <dt>Visible error</dt>
        <dd>
          There is only one generic error message, at the top of the entire form.
        </dd>
        <dt>Adequate time</dt>
        <dd>
          There is a timeout on each step that may be too short to enter required information.
        </dd>
        <dt>Action required</dt>
        <dd>
          There is no visible indication of fields being required, until the user attempts to submit.
        </dd>
        <dt>Go back in process</dt>
        <dd>
          There is no mechanism within the page for stepping back through the process,
          or indicating position within the process.
        </dd>
        <dt>Inform at start</dt>
        <dd>
          Nothing is disclosed up-front about the information that will be required to complete checkout.
        </dd>
        <dt>Numbered steps</dt>
        <dd>
          Checkout steps are not numbered; progress through the process is not indicated at all.
        </dd>
        <dt>Contextual Help</dt>
        <dd>
          No contextual help is available.
        </dd>
      </dl>
    </MetaFailureSection>

    <MetaFailureSection href="museum/register/" title="Register">
      <dl slot="wcag2">
        <dt>1.1.1: Non-text Content</dt>
        <dd>A CAPTCHA is required and no alternative is provided.</dd>
      </dl>
    </MetaFailureSection>
    
    <MetaFailureSection href="museum/login/" title="Sign In">
      <dl slot="wcag2">
        <dt>1.4.3: Contrast (Minimum)</dt>
        <dd>Placeholder text does not meet the minimum contrast ratio.</dd>
        <dt>3.3.2: Labels or Instructions</dt>
        <dd>Form inputs have no labels.</dd>
        <dt>3.3.8 and 3.3.9: Accessible Authentication</dt>
        <dd>The input fields disallow paste.</dd>
      </dl>
      <dl slot="wcag3">
        <dt>Allow automated entry</dt>
        <dd>The input fields disallow paste.</dd>
        <dt>Input labels</dt>
        <dd>Form inputs have no labels.</dd>
        <dt>Minimum text contrast</dt>
        <dd>Placeholder text does not meet the minimum contrast ratio.</dd>
      </dl>
    </MetaFailureSection>

    <MetaFailureSection href="museum/volunteer/" title="Volunteer">
      <dl slot="wcag2">
        <dt>2.2.6: Timeouts</dt>
        <dd>
          The form becomes unsubmittable after a short time period which is not
          disclosed in advance.
        </dd>
      </dl>
    </MetaFailureSection>
  </section>

  <section id="acknowledgment">
    <h2>Acknowledgment</h2>
    <p>
      The Museum of Broken Things is brought to you by
      <a href="https://accessiblecommunity.org/">Accessible Community</a> and the
      <a href="https://www.w3.org/WAI/about/groups/agwg/"
        >W3C Accessibility Guidelines Working Group</a
      >.
    </p>
  </section>
</MetaLayout>

<script>
  if (
    import.meta.env.DEV &&
    location.hash &&
    !document.getElementById(location.hash.slice(1))
  ) {
    document.getElementById("dev-error")!.hidden = false;
  }
</script>
