---
import MetaFailureSection from "@/components/meta/MetaFailureSection.astro";
import MetaLayout from "@/layouts/MetaLayout.astro";
---

<MetaLayout title="General Information">
  <h1>General Information</h1>
  <section id="about-this-site">
    <h2>About The Museum of Broken Things</h2>
    <p>
      This site is designed to demonstrate a wide range of accessibility
      failures, for teaching and assessment purposes.
    </p>
    <p>This page summarizes the accessibility issues from WCAG 2 and WCAG 3 for each section of the site. 
    <p>
      <strong>Reminder:</strong> This site is an example only. The contents are made up and it does not perform real sign-in or payment processing. Do not enter real information!
    </p>
  </section>

  <section id="summary-of-failures">
    <h2>Summary of failures</h2>
    <p>
      This section provides a breakdown of failures, organized by sections of the site.
    </p>

    {
      import.meta.env.DEV && (
        <p id="dev-error" class="error" hidden>
          The section specified in the hash does not exist. Check for typos in
          href, or make sure to add it to this page.
        </p>
      )
    }

    <MetaFailureSection href="museum/" title="Home & Search">
      <p>This section includes the home page and the search results page.</p>

      <p>This section demonstrates content that has a moderate number of accessibilty failures. The failures present a mix of those that can be found through automated testing and those that require manual testing.</p>

      <dl slot="wcag2">
       <dt>1.3.2: Meaningful Sequence</dt>
        <dd>
          The overline text over each title in the carousel uses space characters between each letter. 
        </dd>
        <dt>1.3.5 Identify Input Purpose</dt>
        <dd>The search field has no label.</dd>       
        <dt>1.4.6: Contrast (Enhanced)</dt>
        <dd>
          The scrim on the carousel is not always enough to guarantee sufficient contrast.
        </dd>
        <dt>2.2.2: Pause, Stop, Hide</dt>
        <dd>
          The carousel does not include controls to stop moving and updating.
        </dd>
        <dt>2.4.2: Page Titled<dt>
        <dd>The search result page title is not accurate.</dd>
        <dt>2.4.9 Link Purpose (Link Only)</dt>
        <dd>
          The Read More and Explore link text does not provide enough information to know which links go where.
        </dd>   
        <dt>3.2.2: On Input</dt>
        <dd>
          The search box automatically performs the search and changes to
          the search page on a delay after input stops. No warning or instructions are provided.
        </dd>
        <dt>4.1.2: Name, Role, Value</dt>
        <dd>
          There is no search landmark or label indicating the presence or purpose of the search box.
        </dd>
        <dt>3.3.1 Error Identification</dt>
        <dd>
          Empty search results and misspellings do not throw an error.(**Do others agree?)
        </dd>   
      </dl>

      <dl slot="wcag3">
        <dt>Order of content</dt>
        <dd>
          The overline text over each title in the carousel uses space characters between each letter. 
        </dd>       
        <dt>Title<dt>
        <dd>The search result page title is not accurate</dd>
        <dt>Input labels</dt>
        <dd>The search field has no label</dd>
        <dt>Notification of Change</dt>
        <dd>No programmatic notification occurs when the content changes</dd>
        <dt>Name, Role, Value, State</dt>
        <dd>
          There is no search landmark indicating the presence or purpose of the search box and no label on the search field.
        </dd>
        <dt>Error Identification</dt>
        <dd>
          Empty search results and misspellings do not throw an error.(**Do others agree?)
        </dd> 
        <dt>Text size</dt>
        <dd>The text size in the footer is lower contrast and tiny</dd>    
        <dt>Maximum text contrast</dt>
        <dd>
        The title in the header is 21:1 - is this above the contrast maximum?</dd>
        <dt>Minimum text contrast</dt>
        <dd>
          The scrim on the carousel is not always enough to guarantee sufficient contrast.
        </dd>
        <dt>Motion</dt>
        <dd>
          The carousel does not include controls to stop moving and updating.
        </dd>
        <dt>Name, role, value, state (Needs Discussion)</dt>
        <dd>
          The Read More and Explore link text does not provide enough information to know which links go where.
        </dd> 
        <dt>Text size</dt>
        <dd>The text size in the footer is a lower contrast and smaller size.</dd>                   
      </dl>
    </MetaFailureSection>

    <MetaFailureSection href="museum/collections/" title="Collections Page">
      <p>This section includes only the collection page.</p>

      <p>This section demonstrates content that has a moderate-to-high number of accessibilty failures, some of which would be very diffcult to work around. The failures present a mix of those that can be found through automated testing and those that require manual testing.</p>

      <dl slot="wcag2">
        <dt>1.1.1: Non-text Content</dt>
        <dd>
          The alt text on some images is not accurate
        </dd>
        <dt>1.4.13: Content on Hover or Focus</dt>
        <dd>
          The hover can't be dismissed.
        </dd>
        <dt>2.1.1 Keyboard</dt>
        <dd>
          The text label on each collection's link only becomes visible on hover (not focus).
        </dd>
        <dt>2.4.3: Focus Order</dt>
        <dd>
          <ul><li>The collection links have explicit tabindex attributes, causing them to come before anything else in the page.</li> 
          <li>The links in the "See More" section are not included in the explicit order, meaning focus tabs to each collection link,
          then header items, then the "See More" links, then the footer.</li>
          <li>The explicit tab order is optimized specifically for the widest
          layout, making it incorrect even within the collections list on narrower viewports.</li></ul>
        </dd>
        <dt>3.2.3: Consistent Navigation</dt>
        <dd>
          The links that appear within the "See More" section within the main content are removed from the header navigation where they otherwise typically appear.
        </dd>
        <dt>2.4.10: Section Headings </dt>
        <dd>
          The page doesn't have an H1. 
        </dd>  
      </dl>

      <dl slot="wcag3">
        <dt>Image alternatives</dt>
        <dd>
          The alt text on some images is not accurate
        </dd>
        <dt>Keyboard only</dt>
        <dd>
          The text label on each collection's link only becomes visible on hover (not focus).
        </dd>
        <dt>Order of content</dt>
        <dd>
          <ul><li>The collection links have explicit tabindex attributes, causing them to come before anything else in the page.</li> 
          <li>The links in the "See More" section are not included in the explicit order, meaning focus tabs to each collection link,
          then header items, then the "See More" links, then the footer.</li>
          <li>The explicit tab order is optimized specifically for the widest
          layout, making it incorrect even within the collections list on narrower viewports.</li></ul>
        </dd>
        <dt>Consistent navigation</dt>
        <dd>
          The links that appear within the "See More" section within the main content
          are removed from the header navigation where they otherwise typically appear.
        </dd>
        <dt>Section Headings </dt>
        <dd>
          The page doesn't have an H1. 
        </dd> 
      </dl>
    </MetaFailureSection>

    <MetaFailureSection href="museum/collections/dishes/" title="Dishes Collection">
      <p>This section includes the dishes collection page and related item subpages.</p>

      <p>This section demonstrates content that has very few accessibilty failures and the failures that exist can be worked around or are in less important features. The failures present a mix of those that can be found through automated testing and those that require manual testing.</p>

      <dl slot="wcag2">
        <dt>1.1.1: Non-text Content</dt>
        <dd>
          The exhibit images do not have alt text.
        </dd>
        <dt>2.1.1: Keyboard</dt>
        <dd>
          The favorites marker is not accessible via keyboard.
        </dd>
      </dl>

      <dl slot="wcag3">
        <dt>Image alternatives</dt>
        <dd>
          The exhibit images do not have alt text.
        </dd>
        <dt>Keyboard only</dt>
        <dd>
          The favorites marker is not accessible via keyboard.
        </dd>
      </dl>
    </MetaFailureSection>

    <MetaFailureSection href="museum/collections/home/" title="Home Collection">
      <p><strong>Photosensitivity Warning!</strong> Do not visit this section if you experience reactions to flashing lights or motion.</p>

      <p>This section includes the home collection page and related item subpages.</p>

      <p>This section demonstrates content that has few accessibilty failures, BUT the failures that exist could cause individuals with disabiliites physical or psychological harm.</p>

      <dl slot="wcag2">
        <dt>2.3.1 or 2.3.2: Three Flashes</dt>
        <dd>
          The image thumbnails in the exhibit list on this page flash 4 times within a one-second period.
        </dd>
        <dt>2.3.3: Animation from Interactions</dt>
        <dd>
          Each individual exhibit page under the Home collection includes a parallax effect on the background image.
        </dd>
      </dl>

      <dl slot="wcag3">
        <dt>Flashing and strobing</dt>
        <dd>
          The image thumbnails in the exhibit list on this page flash 4 times within a one-second period.
        </dd>
        <dt>Motion</dt>
        <dd>
          Each individual exhibit page under the Home collection includes a parallax effect on the background image.
        </dd>
      </dl>
    </MetaFailureSection>

    <MetaFailureSection href="museum/collections/music/" title="Music Collection">
      <dl slot="wcag2">
        <dt>2.4.4 and 2.4.9: Link Purpose</dt>
        <dd>
          The purpose of each entry's link is unclear because its image (with alt text)
          is also included within the link, preceding its title.
        </dd>
      </dl>

      <dl slot="wcag3">
        <dt>Interface Verbosity</dt>
        <dd>
          The link for each entry is overly verbose, due to the inclusion of
          each entry's image (with alt text).
        </dd>
      </dl>
    </MetaFailureSection>

    <MetaFailureSection href="museum/collections/sports/" title="Sports Collection">
      <dl slot="wcag2">
        <dt>1.1.1: Non-text Content</dt>
        <dd>
          The alt text on each entry's image repeats the entry's title, rather than
          describing the image.
        </dd>
      </dl>

      <dl slot="wcag3">
        <dt>Interface Verbosity</dt>
        <dd>
          Each entry effectively has two separate links with identical labels.
        </dd>
      </dl>
    </MetaFailureSection>

    <MetaFailureSection href="museum/collections/technology/" title="Technology Collection">
      <p>This section includes the technology collection page and related item subpages.</p>

      <p>This section demonstrates content that has very few accessibility failures in the programmatic portion of the page but has a number of failures in the content.</p>

      <dl slot="wcag2">
        <dt>1.1.1: Non-text Content</dt>
        <dd>
          Some of the exhibit images lack alt text.
        </dd>
        <dt>2.4.10: Section Headings</dt>
        <dd>
          The page doesn't have an H1. 
        </dd>  
      </dl>

      <dl slot="wcag3">
        <dt>Image alternatives</dt>
        <dd>
          Some of the exhibit images lack alt text.
        </dd>
        <dt>Section Headings</dt>
        <dd>
          The page doesn't have an H1. 
        </dd>         
      </dl>
    </MetaFailureSection>


    <MetaFailureSection href="museum/collections/containers/" title="Containers">
      <p>This section includes the containers collection page and related item subpages.</p>

      <p>This section demonstrates content that a lare number of small accessibility failures.</p>

      <dl slot="wcag2">
        <dt>1.3.6: Identify Purpose</dt>
        <dd>
          The favorite toggle does not programmatically indicate that it accepts input.
        </dd>
        <dt>1.4.11: Non-text Contrast</dt>
        <dd>
          The favorite icon uses a color that does not always maintain sufficient contrast with the background
          (see old clay jug).
        </dd>
        <dt>2.1.1 and 2.1.3: Keyboard</dt>
        <dd>
          The Favorite toggle is not accessible via keyboard.
        </dd>
      </dl>

      <dl slot="wcag3">
        <dt>Name, Role, Value, State</dt>
        <dd>
          The favorite toggle does not programmatically indicate that it accepts input.
        </dd>
        <dt>Non-text contrast</dt>
        <dd>
          The favorite icon uses a color that does not always maintain sufficient contrast with the background
          (see old clay jug).
        </dd>
        <dt>Keyboard only</dt>
        <dd>
          The Favorite toggle is not accessible via keyboard.
        </dd>
      </dl>
    </MetaFailureSection>

    <MetaFailureSection href="museum/tour/" title="Take a Tour">
      <p>This section includes the Take a Tour page and related subpages.</p>

      <p>This section demonstrates task completion and multimedia failures.</p>

      <dl slot="wcag2">
        <dt>2.2.4: Interruptions</dt>
        <dd>
          The time to next departure is called out every 15 seconds and cannot be turned off.
        </dd>
        <dt>3.2.3: Consistent Navigation</dt>
        <dd>
          The "Take a Tour" item is missing from the top nav on this page.
        </dd>
      </dl>

      <dl slot="wcag3">
        <dt>2.2.4: Interruptions</dt>
        <dd>
          The time to next departure is called out every 15 seconds and cannot be turned off.
        </dd>
        <dt>3.2.3: Consistent Navigation</dt>
        <dd>
          The "Take a Tour" item is missing from the top nav on this page.
        </dd>
      </dl>
    </MetaFailureSection>

    <MetaFailureSection href="museum/blog/" title="Blog">
      <p>This section includes the Blog page and related article subpages.</p>

      <p>This section demonstrates a moderate level of content, interactioon and multimedia failures.</p>

      <dl slot="wcag2">
        <dt>1.4.3 and 1.4.6: Contrast</dt>
        <dd>
          The "Blog" heading is superimposed over an image with no overlay to guarantee minimum contrast.
        </dd>
        <dt>2.3.3: Animation from Interactions</dt>
        <dd>
          Images zoom in on hover and do not respect prefers-reduced-motion.
        </dd>
        <dt>2.4.1: Bypass Blocks</dt>
        <dd>
          The "Skip to content" link does not work properly on the blog listing page.
        </dd>
        <dt>2.4.4 and 2.4.9: Link Purpose</dt>
        <dd>
          Each post image, as well as the arrow on the topmost post, links to its post, but has no content to describe the link.
        </dd>
        <dt>2.5.5: Target Size (Enhanced)</dt>
        <dd>
          The link after the excerpt from the topmost post is smaller than 44 by 44 pixels.
        </dd>
        <dt>3.1.1: Error Identification</dt>
        <dd>
          The first post under "In the News" leads to a 404 page with no clear description of what went wrong.
        </dd>
      </dl>
    </MetaFailureSection>

    <MetaFailureSection href="museum/gift-shop/" title="Gift Shop">
      <p>This section includes the Gift shop, product subpages and checkout process.</p>

      <p>This section demonstrates task completion and form based failures.</p>

      <p>Note: One or more items must be in the cart to continue the checkout process.</p>

      <dl slot="wcag2">
        <dt>1.4.3 and 1.4.6: Contrast</dt>
        <dd>Text is superimposed over images with no overlay to guarantee minimum contrast.</dd>
        <dt>2.2.3: No Timing</dt>
        <dd>
          Forms in the checkout process time out after an undisclosed period of time.
        </dd>
        <dt>3.3.1: Error Identification</dt>
        <dd>
          Errors do not specifically describe what expectation was failed for each field.
        </dd>
        <dt>3.3.2: Labels or Instructions</dt>
        <dd>
          Fields have no labels, and no indication is given on accepted input formats.
        </dd>
        <dt>3.3.3: Error Suggestion</dt>
        <dd>
          Errors do not provide suggested corrections.
        </dd>
        <dt>3.3.4 and 3.3.6: Error Prevention</dt>
        <dd>
          There is no confirmation step after entering payment information,
          failing 3.3.4 for financial information in addition to 3.3.6.
        </dd>
        <dt>3.3.5: Help</dt>
        <dd>
          No context-sensitive help is available.
        </dd>
        <dt>3.3.6: Error Prevention (All)</dt>
        <dd>
          The quantity field uses <code>type="tel"</code>, which allows non-numeric input,
          rather than the more appropriate <code>type="number"</code>.
        </dd> 
      </dl>

      <dl slot="wcag3">
        <dt>Contrast Minimum</dt>
        <dd>Text is superimposed over images with no overlay to guarantee minimum contrast.</dd>
        <dt>Allow automated entry</dt>
        <dd>
          The input fields on the payment step disallow paste.
        </dd>
        <dt>Error association</dt>
        <dd>
          There is no error message programmatically associated with each input.
        </dd>
        <dt>Error identification</dt>
        <dd>
          The only indication of error is a border color change.
        </dd>
        <dt>Error notification</dt>
        <dd>
          Errors do not specifically describe what expectation was failed for each field.
        </dd>
        <dt>Input instructions</dt>
        <dd>
          No indication of input formats is provided.
        </dd>
        <dt>Input labels</dt>
        <dd>
          No input labels are present.
        </dd>
        <dt>Persistent error notification</dt>
        <dd>
          There is no way to dismiss errors until the entire form is resubmitted.
        </dd>
        <dt>Visible error</dt>
        <dd>
          There is only one generic error message, at the top of the entire form.
        </dd>
        <dt>Adequate time</dt>
        <dd>
          There is a timeout on each step that may be too short to enter required information.
        </dd>
        <dt>Action required</dt>
        <dd>
          There is no visible indication of fields being required, until the user attempts to submit.
        </dd>
        <dt>Go back in process</dt>
        <dd>
          There is no mechanism within the page for stepping back through the process,
          or indicating position within the process.
        </dd>
        <dt>Inform at start</dt>
        <dd>
          Nothing is disclosed up-front about the information that will be required to complete checkout.
        </dd>
        <dt>Numbered steps</dt>
        <dd>
          Checkout steps are not numbered; progress through the process is not indicated at all.
        </dd>
        <dt>Contextual Help</dt>
        <dd>
          No contextual help is available.
        </dd>
      </dl>
    </MetaFailureSection>

    <MetaFailureSection href="museum/map/" title="Museum Map">
      <dl slot="wcag2">
        <dt>1.3.3: Sensory Characteristics</dt>
        <dd>
          Instructions allude only to color when describing visible map controls,
          which is insufficient to disambiguate for colorblind users, as some
          controls feature the same icons distinguished only by color.
        </dd>
        <dt>1.4.11: Non-text Contrast</dt>
        <dd>
          The pin on the map uses a color that has extremely poor contrast against
          the map's colors.
        </dd>
        <dt>2.1.4: Character Key Shortcuts</dt>
        <dd>
          Single-character key bindings are implemented across the entire page
          for map movement, and cannot be turned off or customized.
        </dd>
        <dt>2.5.1: Pointer Gestures</dt>
        <dd>
          On mobile viewports, the only way to zoom the map is via a pinch gesture.
        </dd>
      </dl>
    </MetaFailureSection>

    <MetaFailureSection href="museum/login/" title="Register & Sign In">
      <p>This section includes the registration and sign in processes.</p>

      <p>This section demonstrates task completion, form based and authentication failures.</p>

      <dl slot="wcag2">
        <dt>1.1.1: Non-text Content</dt>
        <dd>A CAPTCHA is required and no alternative is provided.</dd>
        <dt>1.4.3: Contrast (Minimum)</dt>
        <dd>Placeholder text does not meet the minimum contrast ratio.</dd>
        <dt>3.3.2: Labels or Instructions</dt>
        <dd>Form inputs have no labels.</dd>
        <dt>3.3.8 and 3.3.9: Accessible Authentication</dt>
        <dd>The input fields disallow paste. Cognitive test is present.</dd>
      </dl>

      <dl slot="wcag3">
        <dt>Minimum text contrast</dt>
        <dd>Placeholder text does not meet the minimum contrast ratio.</dd>
        <dt>Allow automated entry</dt>
        <dd>The input fields disallow paste.</dd>
        <dt>Input labels</dt>
        <dd>Form inputs have no labels.</dd>
      </dl>
    </MetaFailureSection>

    <MetaFailureSection href="museum/volunteer/" title="Volunteer">
      <p>This section includes the volunteer sign up process pages.</p>

      <p>This section includes task completion and form based failures. This includes a small number of errors.</p>

      <dl slot="wcag2">
        <dt>2.2.6: Timeouts</dt>
        <dd>
          The form becomes unsubmittable after a short time period which is not disclosed in advance.
        </dd>
      </dl>

      <dl slot="wcag3">
       <dt>Adequate time</dt>
        <dd>
          There is a timeout that may be too short to enter required information. The user is not notified.
        </dd>
      </dl>
    </MetaFailureSection>

    <MetaFailureSection href="museum/about/" title="About">
      <p>This section includes only the about page.</p>

      <dl slot="wcag2">
        <dt>1.1.1: Non-text Content</dt>
        <dd>
          Images with text are used for emphasis,
          but their alt text is empty and there is no text equivalent.
        </dd>
        <dt>1.4.4: Resize Text</dt>
        <dd>
          The mission statement cuts off beyond a set maximum height,
          noticeable on mobile or when zoom is increased.
        </dd>
        <dt>2.4.6: Headings and Labels</dt>
        <dd>
          The headings are not discoverable by assistive technology
          due to their content being hidden. Moreover, they are not
          fully visible in some user agents, with the topmost or
          rightmost part being cut off.
        </dd>
      </dl>

      <dl slot="wcag3">
        <dt>Images-of-text alternatives</dt>
        <dd>
          Images with text are used for emphasis,
          but their alt text is empty and there is no text equivalent.
        </dd>
        <dt>Section headers</dt>
        <dd>
          One of the images with text could be interpreted as a level-2 heading, but it is not coded as such.
        </dd>
        <dt>White spacing</dt>
        <dd>
          There is no margin between paragraphs.
        </dd>
      </dl>
    </MetaFailureSection>
  </section>

  <section id="acknowledgment">
    <h2>Acknowledgment</h2>
    <p>
      The Museum of Broken Things is brought to you by
      <a href="https://accessiblecommunity.org/">Accessible Community</a> and the
      <a href="https://www.w3.org/WAI/about/groups/agwg/"
        >W3C Accessibility Guidelines Working Group</a
      >.
    </p>

    <h2>Individual Contributors</h2>
    <ul>
      <li>Ken Franqueiro</li>
      <li>Francis Storr</li>
      <li>Rachael Bradley Montgomery</li>
      <li>Alastair Campbell<li>
      <li>Asher Kolieboi</li>
      <li>Ellen Liebert</li>
      <li>Brian Montgomery</li> 
      <li>Matt Russell</li>
      <li>Kevin White</li>
    </ul>
  </section>
</MetaLayout>

<script>
  if (
    import.meta.env.DEV &&
    location.hash &&
    !document.getElementById(location.hash.slice(1))
  ) {
    document.getElementById("dev-error")!.hidden = false;
  }
</script>
