---
import CartStatus from "@/components/cart/CartStatus.astro";
import Layout from "@/layouts/Layout.astro";
import startCase from "lodash-es/startCase";

// TODO: flesh out products, likely in a content collection;
// this is temporary to test cart functionality
const products = {
  Apparel: {
    "t-shirt": 17.99,
    sweatshirt: 27.99,
    cap: 14.99,
  },
  "(Non-broken) Containers": {
    "water-bottle": 15.99,
    "coffee-mug": 12.99,
    "travel-mug": 24.99,
  },
  Accessories: {
    "keychain-charm": 19.99,
    "sticker-set": 9.99,
  },
} as const;
---

<Layout title="Gift Shop">
  <h1>Gift Shop</h1>
  <CartStatus />
  <div>
    <h2>Products</h2>
    {
      Object.keys(products).map((category) => (
        <>
          <h3>{category}</h3>
          <ul>
            {Object.entries(products[category]).map(([id, unitPrice]) => (
              <li>
                {startCase(id.replace(/-/g, " "))} (${unitPrice}){" "}
                <button id={`${id}-add`} data-price={unitPrice} type="button">
                  Add to cart
                </button>
              </li>
            ))}
          </ul>
        </>
      ))
    }
  </div>
</Layout>

<script>
  import { handleCartInteractions } from "@/lib/client/cart";

  handleCartInteractions();
</script>

<style>
  ul {
    list-style-type: none;
    padding: 0;

    & li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: calc(1rem * var(--ms-2)) 0;

      &:not(:last-child) {
        border-bottom: 1px solid var(--hairline);
      }
    }
  }
</style>
