---
/** @fileoverview Default layout for most pages. */

import "@/assets/styles/styles.css";

import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import Navigation from "@/components/Navigation.astro";
import type { ComponentProps } from "astro/types";
import BaseLayout from "./BaseLayout.astro";

type Props = ComponentProps<typeof BaseLayout> & {
  withInsetMain?: boolean;
};

const { title, withInsetMain = true } = Astro.props;
---

<BaseLayout title={title}>
  <Header />
  <Navigation />
  <main id="main" class={withInsetMain ? "inset" : undefined}>
    <slot />
  </main>
  <Footer />
</BaseLayout>
