---
import "@/assets/styles/styles.css";

import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import Navigation from "@/components/Navigation.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href=`${import.meta.env.BASE_URL}favicon.svg` />
    <meta name="generator" content={Astro.generator} />
    <title>{title} - The Museum of Broken Things</title>
  </head>
  <body>
    <a class="visually-hidden skip-link" href="#main">Skip to the main content</a>
    <Header />
    <Navigation />
		<div class="wrapper">
			<main id="main">
				<slot />
			</main>
		</div>
    <Footer />
  </body>
</html>
