---
/** @fileoverview Default layout for most pages. */

import "@/assets/styles/styles.css";

import type { ComponentProps } from "astro/types";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import Navigation from "@/components/Navigation.astro";
import BaseLayout from "./BaseLayout.astro";
import { defaultNavLinks } from "@/lib/nav-links";

type Props = ComponentProps<typeof BaseLayout> & {
  headerNavLinks?: ComponentProps<typeof Navigation>["navLinks"];
  withInsetMain?: boolean;
  withMainId?: boolean;
};

const {
  headerNavLinks = defaultNavLinks,
  title,
  withInsetMain = true,
  withMainId = true,
} = Astro.props;
---

<BaseLayout title={title}>
  <Header />
  <Navigation navLinks={headerNavLinks} />
  <main
    id={withMainId ? "main" : undefined}
    class={withInsetMain ? "inset" : undefined}
  >
    <slot />
  </main>
  <Footer />
</BaseLayout>
