---
import Fixable from "@/components/Fixable.astro";
import FixableRegion from "@/components/FixableRegion.astro";
import Layout from "@/layouts/Layout.astro";
import { museumBaseUrl } from "@/lib/constants";
---

<Layout title="Sign In">
  <h1>Sign In</h1>
  <p id="registered" hidden>Registration successful. Please sign in below.</p>
  <form action={`${museumBaseUrl}`}>
    <FixableRegion>
      <input class="broken" name="email" placeholder="email@domain.com" />
      <input
        class="broken"
        type="password"
        name="password"
        placeholder="password"
      />
      <Fragment slot="fixed">
        <label
          >Email
          <input class="fixed" type="email" name="email" placeholder="name" />
        </label>
        <label>
          Password
          <input class="fixed" type="password" name="password" />
        </label>
      </Fragment>
    </FixableRegion>
    <Fixable as="p" id="notification" hidden fixed={{ tabindex: -1 }} />
    <button>Submit</button>
  </form>
  <p id="register">
    Don't have an account?
    <a href="../register/">Register</a>
  </p>
</Layout>

<script>
  import { persist, recall } from "@/lib/client/store";
  import { getMode } from "@/lib/mode";

  if (new URL(location.href).searchParams.get("email")) {
    document.getElementById("registered")!.hidden = false;
    document.getElementById("register")!.hidden = true;
  }

  const form = document.querySelector("main form") as HTMLFormElement;
  const notificationEl = document.getElementById(
    "notification"
  ) as HTMLParagraphElement;
  const registration = recall("registration");

  if (getMode() === "broken") {
    form
      .querySelectorAll("input")
      .forEach((input) =>
        input.addEventListener("paste", (event) => event.preventDefault())
      );
  }

  form.addEventListener("focusout", (event) => {
    const el = event.target as HTMLElement;
    if (el.tagName === "INPUT") {
      el.classList.toggle("error", !(el as HTMLInputElement).value);
    }
  });

  form.addEventListener("submit", (event) => {
    // Mock login validation
    const emailInput = form.elements["email"] as HTMLInputElement;
    const passwordInput = form.elements["password"] as HTMLInputElement;
    if (
      !registration ||
      emailInput.value !== registration.email ||
      passwordInput.value !== registration.password
    ) {
      event.preventDefault();
      notificationEl.removeAttribute("hidden");
      notificationEl.className = "error";
      notificationEl.textContent =
        "Incorrect email or password; please try again.";

      if (getMode() === "fixed") notificationEl.focus();
    } else {
      persist("loggedInAt", new Date().toISOString());
    }
  });
</script>

<style>
  form > * {
    display: block;
    margin: 1rem 0;
  }

  input.broken::placeholder {
    color: var(--gray-300);
  }

  input.fixed::placeholder {
    color: var(--gray-600);
  }
</style>
