:root {
  --gold-050:	#f5f0e6;
  --gold-100:	#f1e5cd;
  --gold-200:	#dec69a;
  --gold-300:	#c7a97b;
  --gold-400:	#ad8b65;
  --gold-500:	#8e704f;
  --gold-600:	#6b5947;
  --gold-700:	#4d4438;
  --gold-800:	#322d26;
  --gold-900:	#191714;

  --gold-vivid-050: #fef0c8;
  --gold-vivid-100: #ffe396;
  --gold-vivid-200: #ffbe2e;
  --gold-vivid-300: #e5a000;
  --gold-vivid-400: #c2850c;
  --gold-vivid-500: #936f38;
  --gold-vivid-600: #7a591a;
  --gold-vivid-700: #5c410a;
  --gold-vivid-800: #3b2b15;

  --blue-050:	#e8f5ff;
  --blue-100:	#cfe8ff;
  --blue-200:	#a1d3ff;
  --blue-300:	#58b4ff;
  --blue-400:	#2491ff;
  --blue-500:	#0076d6;
  --blue-600:	#005ea2;
  --blue-700:	#0b4778;
  --blue-800:	#112f4e;

  --gray-010: #fcfcfc;
  --gray-020: #f9f9f9;
  --gray-030: #f6f6f6;
  --gray-040: #f3f3f3;
  --gray-050: #f0f0f0;
  --gray-100: #e6e6e6;
  --gray-200: #c9c9c9;
  --gray-300: #adadad;
  --gray-400: #919191;
  --gray-500: #757575;
  --gray-600: #5c5c5c;
  --gray-700: #454545;
  --gray-800: #2e2e2e;
  --gray-900: #1b1b1b;

  --red-warm-050:	#fff5ee;
  --red-warm-100:	#fce1d4;
  --red-warm-200:	#f6bd9c;
  --red-warm-300:	#f39268;
  --red-warm-400:	#ef5e25;
  --red-warm-500:	#d54309;
  --red-warm-600:	#9c3d10;
  --red-warm-700:	#63340f;
  --red-warm-800:	#3e2a1e;

  --yellow-050:  #faf3d1;
  --yellow-100:  #f5e6af;
  --yellow-200:  #e6c74c;
  --yellow-300:  #c9ab48;
  --yellow-400:  #a88f48;
  --yellow-500:  #8a7237;
  --yellow-600:  #6b5a39;
  --yellow-700:  #504332;
  --yellow-800:  #332d27;
  --yellow-900:  #1a1614;

  --green-050:	#eaf4dd;
  --green-100:	#dfeacd;
  --green-200:	#b8d293;
  --green-300:	#9bb672;
  --green-400:	#7d9b4e;
  --green-500:	#607f35;
  --green-600:	#4c6424;
  --green-700:	#3c4a29;
  --green-800:	#293021;
  --green-900:	#161814;

  --white: #fff;
  --black: var(--gray-800);
  --hairline: rgb(0, 0, 0, 0.175);
}
