$gold-050:	#f5f0e6;
$gold-100:	#f1e5cd;
$gold-200:	#dec69a;
$gold-300:	#c7a97b;
$gold-400:	#ad8b65;
$gold-500:	#8e704f;
$gold-600:	#6b5947;
$gold-700:	#4d4438;
$gold-800:	#322d26;
$gold-900:	#191714;

$golds: (
  "gold-050": $gold-050,
  "gold-100": $gold-100,
  "gold-200": $gold-200,
  "gold-300": $gold-300,
  "gold-400": $gold-400,
  "gold-500": $gold-500,
  "gold-600": $gold-600,
  "gold-700": $gold-700,
  "gold-800": $gold-800,
  "gold-900": $gold-900
);

$gold-vivid-050: #fef0c8;
$gold-vivid-100: #ffe396;
$gold-vivid-200: #ffbe2e;
$gold-vivid-300: #e5a000;
$gold-vivid-400: #c2850c;
$gold-vivid-500: #936f38;
$gold-vivid-600: #7a591a;
$gold-vivid-700: #5c410a;
$gold-vivid-800: #3b2b15;

$gold-vivids: (
  "gold-vivid-050": $gold-vivid-050,
  "gold-vivid-100": $gold-vivid-100,
  "gold-vivid-200": $gold-vivid-200,
  "gold-vivid-300": $gold-vivid-300,
  "gold-vivid-400": $gold-vivid-400,
  "gold-vivid-500": $gold-vivid-500,
  "gold-vivid-600": $gold-vivid-600,
  "gold-vivid-700": $gold-vivid-700,
  "gold-vivid-800": $gold-vivid-800
);

$blue-050:	#e8f5ff;
$blue-100:	#cfe8ff;
$blue-200:	#a1d3ff;
$blue-300:	#58b4ff;
$blue-400:	#2491ff;
$blue-500:	#0076d6;
$blue-600:	#005ea2;
$blue-700:	#0b4778;
$blue-800:	#112f4e;

$blues: (
  "blue-050": $blue-050,
  "blue-100": $blue-100,
  "blue-200": $blue-200,
  "blue-300": $blue-300,
  "blue-400": $blue-400,
  "blue-500": $blue-500,
  "blue-600": $blue-600,
  "blue-700": $blue-700,
  "blue-800": $blue-800
);

$gray-010: #fcfcfc;
$gray-020: #f9f9f9;
$gray-030: #f6f6f6;
$gray-040: #f3f3f3;
$gray-050: #f0f0f0;
$gray-100: #e6e6e6;
$gray-200: #c9c9c9;
$gray-300: #adadad;
$gray-400: #919191;
$gray-500: #757575;
$gray-600: #5c5c5c;
$gray-700: #454545;
$gray-800: #2e2e2e;
$gray-900: #1b1b1b;

$grays: (
  "gray-010": $gray-010,
  "gray-020": $gray-020,
  "gray-030": $gray-030,
  "gray-040": $gray-040,
  "gray-050": $gray-050,
  "gray-100": $gray-100,
  "gray-200": $gray-200,
  "gray-300": $gray-300,
  "gray-400": $gray-400,
  "gray-500": $gray-500,
  "gray-600": $gray-600,
  "gray-700": $gray-700,
  "gray-800": $gray-800,
  "gray-900": $gray-900
);

$red-warm-050:	#fff5ee;
$red-warm-100:	#fce1d4;
$red-warm-200:	#f6bd9c;
$red-warm-300:	#f39268;
$red-warm-400:	#ef5e25;
$red-warm-500:	#d54309;
$red-warm-600:	#9c3d10;
$red-warm-700:	#63340f;
$red-warm-800:	#3e2a1e;

$reds: (
  "red-warm-050": $red-warm-050,
  "red-warm-100": $red-warm-100,
  "red-warm-200": $red-warm-200,
  "red-warm-300": $red-warm-300,
  "red-warm-400": $red-warm-400,
  "red-warm-500": $red-warm-500,
  "red-warm-600": $red-warm-600,
  "red-warm-700": $red-warm-700,
  "red-warm-800": $red-warm-800
);

$yellow-050:  #faf3d1;
$yellow-100:  #f5e6af;
$yellow-200:  #e6c74c;
$yellow-300:  #c9ab48;
$yellow-400:  #a88f48;
$yellow-500:  #8a7237;
$yellow-600:  #6b5a39;
$yellow-700:  #504332;
$yellow-800:  #332d27;
$yellow-900:  #1a1614;

$yellows: (
  "yellow-050": $yellow-050,
  "yellow-100": $yellow-100,
  "yellow-200": $yellow-200,
  "yellow-300": $yellow-300,
  "yellow-400": $yellow-400,
  "yellow-500": $yellow-500,
  "yellow-600": $yellow-600,
  "yellow-700": $yellow-700,
  "yellow-800": $yellow-800,
  "yellow-900": $yellow-900
);

$green-050:	#eaf4dd;
$green-100:	#dfeacd;
$green-200:	#b8d293;
$green-300:	#9bb672;
$green-400:	#7d9b4e;
$green-500:	#607f35;
$green-600:	#4c6424;
$green-700:	#3c4a29;
$green-800:	#293021;
$green-900:	#161814;

$greens: (
  "green-050": $green-050,
  "green-100": $green-100,
  "green-200": $green-200,
  "green-300": $green-300,
  "green-400": $green-400,
  "green-500": $green-500,
  "green-600": $green-600,
  "green-700": $green-700,
  "green-800": $green-800,
  "green-900": $green-900
);


//****************
//* Primary Theme
//****************
$primary:                           $blue-500;
// Note: No dark mode on primary

// Primary Subtle Theme
$primary-text-emphasis:             $blue-700;
$primary-bg-subtle:                 $blue-050;
$primary-border-subtle:             $blue-100;

$primary-text-emphasis-dark:        $blue-100;
$primary-bg-subtle-dark:            $blue-800;
$primary-border-subtle-dark:        $blue-600;


//*****************
//* Secondary Theme
//*****************
$secondary:                         $gold-500;   
// Note: No dark mode on secondary

// Secondary Subtle Theme
$secondary-text-emphasis:           $gold-700;
$secondary-bg-subtle:               $gold-050;
$secondary-border-subtle:           $gold-100;

$secondary-text-emphasis-dark:      $gold-200;
$secondary-bg-subtle-dark:          $gold-800;
$secondary-border-subtle-dark:      $gold-600;

//****************
//* Tertiary Theme
//****************
$tertiary:                         $gold-vivid-400;

// Tertiary Subtle Theme
$tertiary-text-emphasis:           $gold-vivid-700;
$tertiary-bg-subtle:               $gold-vivid-050;
$tertiary-border-subtle:           $gold-vivid-100;

$tertiary-text-emphasis-dark:      $gold-vivid-200;
$tertiary-bg-subtle-dark:          $gold-vivid-800;
$tertiary-border-subtle-dark:      $gold-vivid-600;


// Headings
$headings-color:                    #000000;
// $headings-color-dark:               #7EB0E4; // blue-20

// Links
// $link-color:                        #253E92; // blue-80
// $link-color-dark:                   #7EB0E4; // blue-20