.wrapper {
  display: grid;
  gap: 1em;
  grid-template-columns: [page-start] minmax(1em, 1fr) [content-start] repeat(8, 133px) [content-end] minmax(1em, 1fr) [page-end];
}

main {
  grid-column: 2 / 10;
  padding: 1rem;
}
