:is(h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6) {
  font-family: var(--title-font-family);
  font-weight: 100;
  line-height: var(--ms3);
}

h1, .h1{
  font-size: calc(var(--ms6) * 1rem);
}

h2, .h2{
  font-size: calc(var(--ms5) * 1rem);
}

h3, .h3{
  font-size: calc(var(--ms4) * 1rem);
}

h4, .h4{
  font-size: calc(var(--ms3) * 1rem);
}

h5, .h5{
  font-size: calc(var(--ms2) * 1rem);
}

h6, .h6{
  font-size: calc(var(--ms1) * 1rem);
}