:root {
  font-size: 100%;
  box-sizing: border-box;

  /* See colors.css for colors, fonts.css for fonts */
}
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background: var(--white);
  color: var(--black);
  font: 1rem/1.5 var(--body-font-family);
  margin: 0;
}

h3, h4, h5, h6 {
  font-family: var(--title-font-family);
}
