---
import type { LocalImageProps } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { pick } from "lodash-es";
import LaxImage from "./LaxImage.astro";

const imagePropNames = ["height", "width", "sizes", "widths"] as const;

type Props = Pick<LocalImageProps, typeof imagePropNames[number]> & {
  class?: string;
  style?: string;
} & (
  | {
      description: string;
      image: CollectionEntry<"collection">["data"]["image"];
      title: string;
    }
  | { item: CollectionEntry<"collection"> }
);

const { class: extraClasses, style } = Astro.props;
const imageProps = pick(Astro.props, imagePropNames);

const Content =
  "item" in Astro.props ? (await Astro.props.item.render()).Content : null;
const { description, image, title } =
  "item" in Astro.props ? Astro.props.item.data : Astro.props;
---

<div class:list={["card", extraClasses]} {style}>
  <div class={image.vertical ? "vertical" : "horizontal"}>
    <div class="image-container">
      <LaxImage
        src={image.src}
        alt={image.alt || null}
        object-fit="cover"
        {...imageProps}
      />
    </div>
    <div class="content">
      <h3 set:text={title} />
      <div>{Content ? <Content /> : description}</div>
    </div>
  </div>

  {
    Astro.slots.has("footer") && (
      <div class="footer">
        <slot name="footer" />
      </div>
    )
  }
</div>

<style>
  h3 {
    margin: 0 0 0.5rem;
    text-align: center;
  }

  img {
    display: block;
    width: 100%;
  }

  .card {
    background: var(--white);
    border: 1px solid var(--hairline);
    position: relative;
  }

  .content {
    padding: 1rem;
  }

  .horizontal {
    & .image-container {
      max-height: 35rem;
      overflow: hidden;
    }
  }

  .vertical {
    display: flex;

    & .content,
    & .image-container {
      width: 50%;
    }

    img {
      height: 100%;
    }
  }

  .footer {
    background: rgb(27, 27, 27, 0.03);
    border-top: 1px solid var(--hairline);
    padding: 0.5rem;
  }
</style>