---
interface Crumbs {
  name: String;
  href: URL;
}

interface Props {
  crumbs?: Array<Crumbs>;
}

import { Image } from 'astro:assets';
import logo from '../assets/images/mbt-logo.png';

import links from '../lib/nav-links';
---

<footer>
      <div>
        {
          links.map(({ name, href }) => (
            <a
              {href}
              set:text={name}
            />
          ))
        }
      </div>
    </div>
    <div>
      <Image
        src={logo}
        alt="Museum of Broken Things"
        width="250"
        height="250"
      />
      <small>
        The Museum of Broken Things is brought to you by Accessible Community, with help from <a href="https://unsplash.com/">Unsplash</a> and various AI chatbots.
      </small>
</footer>
