---
import { Image } from "astro:assets";
import type { ComponentProps } from "astro/types";
import { museumBaseUrl } from "@/lib/constants";
import Search from "./Search.astro";
import UserControls from "./UserControls.astro";

import logo from "@/assets/images/mbt-logo.webp";

interface Props {
  searchMode?: ComponentProps<typeof Search>["mode"];
}

const { searchMode } = Astro.props;
---

<header>
  <a class="logo" href={museumBaseUrl}
    ><Image src={logo} alt="" width="80" height="80" />
    Museum of Broken Things
  </a>
  <div class="controls">
    <Search mode={searchMode} />
    <UserControls />
  </div>
</header>

<style>
  header {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    padding: 0.5rem 1.5rem;
  }

  .logo,
  .controls {
    display: flex;
    align-items: center;
  }

  .logo {
    color: var(--black);
    font: 2.5rem var(--title-font-family);
    gap: 1rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }

  .controls {
    justify-content: space-evenly;
    gap: 0.5rem;
    width: 100%;
  }

  @media (min-width: 60rem) {
    header {
      flex-direction: row;
    }

    .controls {
      width: auto;
    }
  }
</style>
