---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import { museumBaseUrl } from "@/lib/constants";

import logo from "@/assets/images/mbt-logo.png";
---

<header>
  <div class="logo">
    <a href={museumBaseUrl}><Image
        src={logo}
        alt="Museum of Broken Things"
        width="75"
        height="75"
      />
    </a>
    <div>Museum of Broken Things</div>
  </div>
  <div>
    <form role="search">
      <input type="search" placeholder="Search" aria-label="Search" />
      <button class="outline">
        <Icon name="ri:search-line" />
      </button>
    </form>
    <a class="button" href=`${museumBaseUrl}login/`>Sign In</a>
  </div>
</header>

<style>
  header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1.5rem;

    & > div {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }

  .logo {
    font: 2.5rem var(--title-font-family);
    text-transform: uppercase;
    & img {
      display: block; /* avoids descender space under image */
    }
  }

  form {
    display: flex;
    align-items: stretch;
    button {
      position: relative;
      inset-inline-start: -1px;
    }
  }
</style>
