---
interface Crumbs {
  name: String;
  href: URL;
}

interface Props {
  crumbs?: Array<Crumbs>;
}

import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

import logo from "../assets/images/mbt-logo.png";
---

<header>
  <div>
    <a href="/">
      <Image
        src={logo}
        class="align-text-top"
        alt="Museum of Broken Things"
        width="75"
        height="75"
      />
    </a>
    <div>Museum of Broken Things</div>
  </div>
  <form role="search">
    <input type="search" placeholder="Search" aria-label="Search" />
    <button type="button">
      <Icon name="fa-solid--search" />
    </button>
    <button type="submit">Sign In</button>
  </form>
</header>
