---
import { Image } from "astro:assets";
import { museumBaseUrl } from "@/lib/constants";
import Search from "./Search.astro";
import UserControls from "./UserControls.astro";

import logo from "@/assets/images/mbt-logo.webp";
---

<header>
  <div class="logo">
    <a href={museumBaseUrl}><Image
        src={logo}
        alt="Museum of Broken Things"
        width="80"
        height="80"
      />
    </a>
    <div>Museum of Broken Things</div>
  </div>
  <div>
    <Search />
    <UserControls />
  </div>
</header>

<style>
  header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1.5rem;

    & > div {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }

  .logo {
    font: 2.5rem var(--title-font-family);
    text-transform: uppercase;
    & img {
      display: block; /* avoids descender space under image */
    }
  }
</style>
