---
import { navLinks } from "@/lib/nav-links";
---

<nav aria-label="Site">
  <ul>
    {
      navLinks.map(({ name, href }) => (
        <li>
          <a {href}>{name}</a>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  nav {
    background: var(--black);
    padding: 0 1rem;

    & ul {
      display: flex;
      gap: 1em;
      list-style: none;
      padding: 0;
    }
    & a {
      color: var(--gray-200);
      display: block;
      padding: 0.5em;
      text-decoration: none;
      &:hover {
        color: var(--white);
      }
    }
  }
</style>
