---
interface Props {
  id?: string;
  theme?: string;
  style?: string;
  gradient?: boolean;
  text?: boolean;
  py?: number;
  fluid?: boolean;
}

const {
  id = undefined,
  theme = undefined,
  style = undefined,
  gradient = false,
  text = false,
  py = 5,
  fluid = false,
} = Astro.props;

import { getBackgroundAndText } from "../lib/themes.ts";

const bgAndTextClass = getBackgroundAndText(theme, style, text);
---

<section id={id} class:list={[bgAndTextClass, gradient && "bg-gradient", "py-4"]}>
  <div class:list={[`container${fluid ? "-fluid" : ""}`, `py-${py}`]}>
    <slot />
  </div>
</section>

<style>
  section {
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));  
  }
</style>