---
import { getCollection } from "astro:content";
import { flattenDeep, sortBy, startCase, uniq } from "lodash-es";

export async function getStaticPaths() {
  const fullCollection = await getCollection("collection");
  const nestedTags = fullCollection.map(({ data }) => data.tags || []);
  const tags = uniq(flattenDeep(nestedTags));

  return tags.map((tag) => ({
    params: { tag },
    props: {
      fullCollection,
      title: tagTitleOverrides[tag] || startCase(tag),
    },
  }));
}

import type { CollectionEntry } from "astro:content";
import CollectionCard from "@/components/CollectionCard.astro";
import Layout from "@/layouts/Layout.astro";
import { tagTitleOverrides } from "@/lib/tags";

interface Props {
  fullCollection: CollectionEntry<"collection">[];
  title: string;
}

const { tag } = Astro.params;
const { fullCollection, title } = Astro.props;

const collection = sortBy(
  fullCollection.filter(({ data }) => data.tags?.includes(tag)),
  ({ data }) => data.title
);
---

<Layout title={title}>
  <div class="container">
    <h2>{title}</h2>
    <div class="cards">
      {collection.map((item) => <CollectionCard {item} widths={[1200]} />)}
    </div>
  </div>
</Layout>

<style>
  .container {
    padding-bottom: 3rem;
  }

  .cards {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
</style>
