---
import "@fontsource/corinthia";

import Layout from "@/layouts/Layout.astro";
import { getMode } from "@/lib/mode";
import { defaultNavLinks } from "@/lib/nav-links";

const headerNavLinks =
  getMode() === "broken"
    ? [
        ...defaultNavLinks.filter(({ name }) => name === "About"),
        ...defaultNavLinks.filter(({ name }) => name !== "About"),
      ]
    : defaultNavLinks;
---

<Layout title="About" {headerNavLinks}>
  <h1 class="masked about"><span>About The Museum</span></h1>
  <div class={getMode() === "broken" ? "broken" : undefined}>
    <p>
      Thank you for wanting to find out more about The Museum Of Broken Things.
      On this page, you'll find out about our mission and opening times.
    </p>

    <aside class="mission-statement">
      The Museum Of Broken Things aims to engage and provoke
      <abbr title="Web Content Accessibility Guidelines">WCAG-y</abbr>
      discussions through smart discussions to uncover the intricate stories
      behind broken technology pieces.
    </aside>

    <h2 class="masked hours"><span>Opening Hours</span></h2>

    <div class="table__desktop" role="grid">
      <div class="row" role="row">
        <div class="cell" role="columnheader">Mon</div>
        <div class="cell" role="columnheader">Tue</div>
        <div class="cell" role="columnheader">Wed</div>
        <div class="cell" role="columnheader">Thu</div>
        <div class="cell" role="columnheader">Fri</div>
        <div class="cell" role="columnheader">Sat</div>
        <div class="cell" role="columnheader">Sun</div>
      </div>
      <div class="row" role="row">
        <div class="cell" role="cell">9-5</div>
        <div class="cell" role="cell">9-5</div>
        <div class="cell" role="cell">9-5</div>
        <div class="cell" role="cell">9-5</div>
        <div class="cell" role="cell">9-5</div>
        <div class="cell" role="cell">8-8</div>
        <div class="cell" role="cell">9-8</div>
      </div>
    </div>

    <div class="table__responsive" role="grid">
      <div class="row" role="row">
        <div class="cell" role="columnheader">Mon</div>
        <div class="cell" role="cell">9-5</div>
      </div>
      <div class="row" role="row">
        <div class="cell" role="columnheader">Tue</div>
        <div class="cell" role="cell">9-5</div>
      </div>
      <div class="row" role="row">
        <div class="cell" role="columnheader">Wed</div>
        <div class="cell" role="cell">9-5</div>
      </div>
      <div class="row" role="row">
        <div class="cell" role="columnheader">Thu</div>
        <div class="cell" role="cell">9-5</div>
      </div>
      <div class="row" role="row">
        <div class="cell" role="columnheader">Fri</div>
        <div class="cell" role="cell">9-5</div>
      </div>
      <div class="row" role="row">
        <div class="cell" role="columnheader">Sat</div>
        <div class="cell" role="cell">9-5</div>
      </div>
      <div class="row" role="row">
        <div class="cell" role="columnheader">Sun</div>
        <div class="cell" role="cell">9-5</div>
      </div>
    </div>

    <div class="header-gradient-backer">
      <svg
        class="travel-directions"
        width="219px"
        height="35px"
        viewBox="0 0 219 35"
      >
        <defs>
          <mask id="text-mask" x="0" y="0" height="100%" width="100%">
            <rect fill="#fff" x="0" y="0" height="100%" width="100%"></rect>
            <text
              x="50%"
              y="50%"
              fill="#000"
              alignment-baseline="middle"
              text-anchor="middle"
              font-family="PatuaOne-Regular, Patua One"
              font-size="29"
              font-weight="normal">Travel Directions</text
            >
          </mask>
        </defs>
        <rect fill="#fff" x="0" y="0" height="100%" width="100%"></rect>
      </svg>
    </div>
    <p>For travel directions, click <a href="../map/">here</a> to see the Museum Map page.</p>
  </div>
</Layout>

<style>
  :is(h1, h2) {
    background: linear-gradient(to right, #112f4e 0%, #58b4ff 100%);
    display: inline-block;
    padding: 0 calc(1em * var(--ms-2));
    & span {
      visibility: hidden;
    }
  }

  .masked {
    mask-repeat: no-repeat;
  }

  .about {
    mask-image: url(../../assets/images/about/about-the-museum.svg);
  }

  .hours {
    mask-image: url(../../assets/images/about/opening-hours.svg);
  }

  .header-gradient-backer {
    background: linear-gradient(to right, #112f4e 0%, #58b4ff 100%);
    display: inline-block;
    line-height: 0;
    margin: calc(1rem * var(--ms4)) 0 0;
  }

  rect {
    mask: url(#text-mask);
  }

  .mission-statement {
    background: var(--gold-200);
    color: var(--gold-vivid-600);
    font-family: Corinthia, cursive;
    font-size: calc(1rem * var(--ms10));
    font-weight: bold;
    line-height: var(--ms0);
    margin-block-start: calc(1rem * var(--ms2));
    text-align: center;
    padding: calc(1em * var(--ms-3));
  }

  .broken .mission-statement {
    max-height: 4em;
    overflow: hidden;
  }

  p {
    margin: 0;
    text-indent: 64px;
  }

  [class^="table__"] {
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid #000;
  }

  .table__desktop {
    display: none;
  }

  @media (min-width: 30em) {
    .table__responsive {
      display: none;
    }

    .table__desktop {
      display: block;
    }
  }

  .row {
    display: flex;
    &:not(:last-of-type) {
      border-bottom: 1px solid var(--gray-500);
    }
  }

  [role="columnheader"] {
    color: var(--gray-400);
    font-family: Corinthia, cursive;
    font-size: 14pt;
    font-weight: bold;
  }

  .cell {
    align-items: center;
    display: flex;
    flex: 1;
    place-content: center;
    &:not(:last-of-type) {
      border-inline-end: 1px solid var(--black);
    }
  }
</style>
