---
import "@fontsource/corinthia";

import Layout from "@/layouts/Layout.astro";
---

<Layout title="Help">
  <h1>Get Help</h1>
  <p>
    Thank you for wanting to find out more about the MBT. On this page, you'll
    find additional information on obtaining assistance for the museum.
  </p>
  <p>
    If you are wondering if this museum idea is as cracked up as it first
    appears, you are likely correct. The amalgamation of access issues which you
    will encounter within these pages will likely confuse and confound you.
  </p>
  <p>
    If you are feeling discombobulated, we recommend you first take a deep
    breath and close your eyes. Next, please know that this site is designed to
    be harder than finding a needle in a haystack. If you stumbled across this
    site by accident, please move onto another entertaining endeavor,
    particularly if you have a disability. If you are here intentionally, we are
    sorry. Hang in there and keep on, keeping on.
  </p>
</Layout>
