---
import { getEntry } from "astro:content";
import CollectionCard from "@/components/CollectionCard.astro";
import Layout from "@/layouts/Layout.astro";

const collections = [
  {
    title: "Toys & Dolls",
    description: "They can dance in the dark.",
    imageItem: await getEntry("collection", "blue-bear"),
    tag: "toys",
  },
  {
    title: "Dishes",
    description: "Did someone say dinner?",
    imageItem: await getEntry("collection", "blue-dish"),
    tag: "dishes",
  },
  {
    title: "Containers",
    description: "These won't hold water",
    imageItem: await getEntry("collection", "clay-jug"),
    tag: "containers",
  },
];
---

<Layout title="Home">
  <h2 class="card-header bg-black text-light">Explore our Collections</h2>
  <div class="cards">
    {
      collections.map(({ description, imageItem, tag, title }) => (
        <CollectionCard
          title={title}
          description={description}
          image={imageItem.data.image}
          height="200"
          style="max-height: 60rem; max-width: 60rem;"
        >
          <a slot="footer" class="btn btn-primary w-100" href={`collections/${tag}/`}>
            Explore
          </a>
        </CollectionCard>
      ))
    }
  </div>
  <div class="cards-footer">
    <a href="collections/">Our collections &rArr;</a>
  </div>
</Layout>

<style>
  .cards {
    display: grid;
    column-gap: 3rem;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .cards-footer {
    padding: 1rem 0 2rem;
    text-align: right;
  }
</style>
